*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px ;
    overflow: hidden;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

h1{
    color: white;
    font-size: 1.3rem;
    margin: 0.2rem 0;
    font-weight: 500;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:hsl(0, 0%, 12%);
    border-radius: 10px;
    padding: 1rem
}

.header{
    display: contents;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-picture{
    width: 32%;
    border-radius: 50%;
    margin: 1rem
}

p {
    color: white;
    margin: 0;
    text-align: center;
    font-weight: 250;
    font-size: 0.7rem
}

.location{
    font-weight: 600;
    color: hsl(75, 94%, 57%)
}

.description{
    margin: 1rem 0
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 15.5rem
    
}

li{
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 0.7rem;
    font-weight: 700;
    font-size: 0.8rem;
    margin: 0.6rem 0
}

li:active{
    background-color: hsl(75, 94%, 57%);
    color: black;
    cursor: pointer black;
}

@media (min-width: 768px){
    *{
        font-size: 18px;
    }
    .container {
        padding: 1.2rem 1.8rem;
    }
}