*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color: white;
    font-size: 2rem;
    margin: 1rem 0;
}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 75%;
    background-color:hsl(0, 0%, 12%);
    width: 18rem;
    border-radius: 15px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture{
    width: 40%;
    border-radius: 50%;
    
}